body { 
  max-width: 300px; 
  margin:0 auto; 
  text-align:center; 
  color:#000; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size:12px; 
}

#wrapper { 
  min-width: 250px; 
  margin: 0px auto; 
}

#wrapper img { 
  max-width: 300px; 
  width: auto; 
}

h2, h3, p { 
  margin: 5px 0;
}

.left { 
  width:100%; 
  float:right; 
  text-align:right; 
  margin-bottom: 3px;
  margin-top: 3px;
}

.right { 
  width:40%; 
  float:right; 
  text-align:right; 
  margin-bottom: 3px; 
}

.table, .totals { 
  width: 100%; 
  margin:10px 0; 
}

.table th { 
  border-top: 1px solid #000; 
  border-bottom: 1px solid #000; 
  padding-top: 4px;
  padding-bottom: 4px;
}

.table td { 
  padding:0; 
}

.totals td { 
  width: 24%; 
  padding:0; 
}

.table td:nth-child(2) { 
  overflow:hidden; 
}
@media print {
  body { text-transform: uppercase; }
  #buttons { display: none; }
  #wrapper { width: 100%; margin: 0; font-size:9px; }
  #wrapper img { max-width:300px; width: 80%; }
  #bkpos_wrp{
  display: none;
  }
}